{% extends "base.html" %}
{% block title %}8-bit Studios{% endblock %}


{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a href="{{ url_for('logout') }}">Logout</a>
    <h1>Welcome, {{ session.username }}</h1>

    <div class="options">
        <a href="{{ url_for('bit.vending_machine') }}" class="option">Vending Machine</a>
        <a href="{{ url_for('bit.games') }}" class="option">Play Games</a>

        {% if session.get('is_admin') %}
            <a href="{{ url_for('bit.dashboard') }}" class="option">Dashboard</a>
        {% endif %}
    </div>
{% endblock %}