{% extends "bit_base.html" %}
{% block title %}Games{% endblock %}

{% block content %}
<section class="lobby">
    <h1 class="marquee">GAME SELECT</h1>
    <p class="subtitle blink">PRESS START</p>

    <div class="arcade-row">
        <a href="{{ url_for('bit.race.race') }}" class="cabinet-card">
            <div class="cabinet-card__screen">
                <img src="{{ url_for('bit.static', filename='images/race.jfif') }}" alt="Turtle Race">
            </div>
            <span class="cabinet-card__label">TURTLE RACE</span>
        </a>

        <a href="{{ url_for('bit.snake.snake') }}" class="cabinet-card">
            <div class="cabinet-card__screen">
                <img src="{{ url_for('bit.static', filename='images/snake.jfif') }}" alt="Snake">
            </div>
            <span class="cabinet-card__label">SNAKE</span>
        </a>
    </div>

    <a class="back-link" href="{{ url_for('bit.bit') }}">&larr; Back to lobby</a>
</section>
{% endblock %}